{% extends 'core/base.html' %}

{% block title %}Quiénes Somos{% endblock %}

{% block content %}
<section class="about mt-5">
    <div class="container">
        <h2 class="mb-3">Quiénes Somos</h2>
        <p class="lead">
            En Cat Café Michimar, creemos que cada momento puede ser especial cuando lo compartes con amigos peludos. Somos un espacio acogedor donde el amor por los gatos y el buen café se unen para crear experiencias únicas. Ven a relajarte, disfrutar de deliciosos postres y conocer a nuestros michis, ¡te esperamos con los brazos abiertos!
        </p>
    </div>
</section>
{% endblock %}